<div class="row">
    <div class="col-xs-5 col-md-5">
        <hr>
            <h4>Please select the player !!</h4>
            <br>
            <br>
            <app-players-list *ngFor = "let pl of players; let i=index" [playerss]= "pl" [index]="i">
            </app-players-list>
            <br>
           <button type="button" class="btn btn-success" (click) = "onFetchPlayers()"
            *ngIf = "alength">Fetch Players from Server</button>
            <br>
            <br>
                <button type="submit" class="btn btn-primary" (click) ="onAddPlayers()">Add a player !!</button>
                <button type="submit" class="btn btn-secondary" (click) ="onBack()" style="margin-left: 5px;">Go Back</button>
        </div>
    <div class="col-xs-7 col-md-7">
            <router-outlet></router-outlet>
    </div>
</div>