<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a routerLink = "" class="navbar-brand" style="cursor : pointer;">Cricket Talkies</a>
    </div>

        <ul class="nav navbar-nav">
           <li routerLinkActive = "active"><a routerLink="/home">Home</a></li>
           <li routerLinkActive = "active"><a routerLink="/country">Countries</a></li>
        </ul>
        </div>
</nav>

<div class="col-xs-12 col-md-12">
<h2 style="color:salmon;">Welcome All the Cricket Lovers !!</h2>
</div>