<div class="col-xs-12 col-md-12">
<p>Below is the list of Test Playing Countries. Go ahead and explore the teams.</p><br>
    
        <div class="list-group">
        <a style="cursor: pointer;" class="list-group-item clearfix" 
        routerLink = "/country/India">India</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" 
        routerLink = "/country/Australia">Australia</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/England">England</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/NewZealand">New Zealand</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/SouthAfrica">South Africa</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/WestIndies">West Indies</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/SriLanka">Sri Lanka</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Pakistan">Pakistan</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Bangladesh">Bangladesh</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Zimbabwe">Zimbabwe</a>
        </div>
    
</div>