<div class="col-xs-12 col-md-12">
<p>Below is the list of Test Playing Countries. Go ahead and explore the teams.</p><br>
    
        <div class="list-group">
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/India">India</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">Australia</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">England</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">New Zealand</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">South Africa</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">West Indies</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">Sri Lanka</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">Pakistan</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">Bangladesh</a>
        <a style="cursor: pointer;" class="list-group-item clearfix" routerLink = "/country/Australia">Zimbabwe</a>
        </div>
    
</div>